@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");

body {
  width: 100%;
  margin: 0;
}

.main {
  background-image: url("https://img.pngio.com/transparent-grid-png-free-transparent-gridpng-transparent-transparent-grid-2000_1000.png");
  background-color: rgba(241, 239, 239, 0.795);
  min-height: 90vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin: auto;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 1200px;
}
.footer {
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #231f20;
}

@media only screen and (max-width: 960px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    height: 8rem;
  }
}

@media (max-width: 600px) {
}

.footer p {
  font-family: Monaco, sans-serif;
  font-size: 0.8rem;
  color: #fff;
}

.footer a {
  color: #fff;
  font-family: Monaco, sans-serif;
  text-decoration: none !important;
  font-size: 0.8rem;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#avatar {
  flex-basis: 50%;
  border-radius: 190px;
}

#avatar img {
  width: 100%;
  max-width: 20rem;
  box-shadow: 7px 7px 7px rgba(34, 33, 33, 0.486);
  border-radius: 190px;
  /* margin: 5rem; */
}

.icons svg {
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.bio {
  background-color: #fff;
  flex-basis: 50%;
  height: 20rem;
  box-shadow: 7px 7px 7px rgba(34, 33, 33, 0.486);
  padding: 0.5rem 2rem;
  font-family: "Cabin Sketch", cursive;
  font-size: 1.5rem;
  color: #231f20;
  text-align: center;
  max-width: 30rem;
  margin: 5rem;
}

.bio p {
  font-family: Monaco, sans-serif;
  font-size: 1.2rem;
  color: #231f20;
}

a {
  color: #231f20;
}

.about {
  background-color: #fff;
  box-shadow: 7px 7px 7px rgba(34, 33, 33, 0.486);
  padding: 0.5rem 2rem;
  margin-bottom: 3rem;
  font-family: "Cabin Sketch", cursive;
  font-size: 1.5rem;
  color: #231f20;
  max-width: 60%;
  text-align: center;
}

.about p {
  font-family: Monaco, sans-serif;
  font-size: 1rem;
  color: #231f20;
  text-align: left;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-icon {
  font-size: 2rem;
  padding: 1rem;
  margin: 0.7rem;
  background-color: #fff;
  box-shadow: 7px 7px 7px rgba(34, 33, 33, 0.486);
  border-radius: 190px;
}

b {
  font-family: "Cabin Sketch", cursive;
}
